#Quartus rtus rules
*/db/
*/incremental_db/
*.bak
*.stp
*/altera/*
*/lpm/*
*/altera_mf/*
*/work/*
*.wlf
*/output_files/
*.qws
*/simulation/*
*.qdb
*.qpg
*.qtl
*_vmake
*_info

# texmaker rules
*.out
*.log
*.lof
*.lol
*.lot
*.loc
*.synctex.gz
*.toc
*.aux
*.ps
*.synctex.gz(busy)

# generals
example/conv2/GPStudio/build/*

# Caffe
caffe/dataset/*
